:root {
  --color-contenedores: #f9f9f9; /* color de mis contenedores */
  --color-letrasBotones: white;  
  --color-letrasLabel : black;
  --color-efectoHover : #C81748;
  --color-botonesContenedores :rgb(0, 101, 52);
  --color-verdeAcompanamiento: darkseagreen;
}

/* Fondo oscuro de la pantalla para el overlay */
.mensaje-temporal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Contenedor del mensaje */
.mensaje-temporal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

/* Estilos para la cabecera con el botón de cerrar */
.mensaje-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.close-button {
  font-size: 14px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

.close-button:hover {
  color: var(--color-efectoHover);
}

/* Estilos para el contenido del mensaje */
.mensaje-content p {
  font-size: 16px;
  margin-bottom: 20px;
  color: black;
}

/* Contenedor de los botones de acción */
.mensaje-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Estilo para los botones */
.mensaje-actions button {
  padding: 10px 30px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* Botón 'Sí' */
.btn-yes {
  background-color: var(--color-botonesContenedores);
  color: white;
}

.btn-yes:hover {
  background-color: #2ecc71;
}

/* Botón 'No' */
.btn-no {
  background-color: var(--color-botonesContenedores);
  color: white;
}

.btn-no:hover {
  background-color: var(--color-efectoHover);
}

/* notificaciones */
 .ant-notification {
   top: 5% ; /* Centrar verticalmente */
   left: 100% ;/* Centrar horizontalmente */
  transform: translate(-50%, -50%);   
  }     

 /* .ant-notification-notice {
  width: auto !important;
  max-width: 5000px !important;
} */